# ignore following extesions
# added by vikas
# 2-Dec-2018

*.a
*.mod
*.smod
*.o
*.out
*.i90
*.if90
*.DS_Store
*.prj
*.drawio
*.log
*.eps
*.h5
*.gp
*.msh

vscode-settings
media/
include/
lib/
opt/
bin/
easifem/
*/build/
build/
src/build/
src/modules/build/
src/submodules/build/
docs/
tests/
*.ipynb
*.dat
_packages/



MESH_CLASS_EXCEPTION.txt
MSH_CLASS_EXCEPTION.txt
DOMAIN_CLASS_EXCEPTION.txt
log.txt
Amat.txt
*Pmat.txt
