# ignore following extesions
# added by vikas
# 2-Dec-2018
*.a
*.mod
*.smod
*.o
*.out
*.i90
*.if90
*.DS_Store
*.prj
*.drawio
*.log
*.eps
*.h5
*.gp
*.msh
*Pmat.txt
vscode-settings
docs/
media/
include/
lib/
opt/
bin/
easifem/
*/build/
build/
src/build/
src/modules/build/
src/submodules/build/
# pkgs/
# old-classes/
# examples/
# docs/
# easifem.wiki/
# pages/
# doc/

MESH_CLASS_EXCEPTION.txt
MSH_CLASS_EXCEPTION.txt
DOMAIN_CLASS_EXCEPTION.txt
log.txt
*.ipynb
Amat.txt
*.dat
